@model JobLocationViewModel

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <form asp-controller="Jobs" asp-action="Index" method="get" class="form-horizontal">
        <div class="form-group-lg">
            <label for="location-drop-down">Location: </label>
            <select asp-for="jobLocation" asp-items="Model.locations" class="form-control" id="location-drop-down">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group-lg">
            <label for="TitleSearch">Job Title: </label>
            <input id="TitleSearch" type="text" name="SearchString" class="form-control" placeholder="i.e. Software Developer" />
            <input type="submit" value="Filter" class="btn btn-default btn-lg" />
        </div>
    </form>


    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.jobs[0].ApplicationLink)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Company)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].DatePosted)
                </th>                                                                  
                <th>                                   
                    @Html.DisplayNameFor(model => model.jobs[0].JobID)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].JobTitle)
                </th>                                                               
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Location)
                </th>                                  
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.jobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                </tr>
            }
        </tbody>
    </table>
