@model JobLocationViewModel

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Jobs" asp-action="Index" method="get">
        <div class="form-group">
            <select asp-for="jobLocation" asp-items="Model.locations">
                <option value="">All</option>
            </select>
            <label for="TitleSearch">Job Title: </label>
            <input id="TitleSearch" type="text" name="SearchString" class="form-control" placeholder="Job Title" />
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.jobs[0].ApplicationLink)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Company)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].DatePosted)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Experience)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Hours)
                </th>                                   
                <th>                                   
                    @Html.DisplayNameFor(model => model.jobs[0].JobID)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].JobTitle)
                </th>                                   
                <th>                                   
                    @Html.DisplayNameFor(model => model.jobs[0].LanguagesUsed)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Location)
                </th>                                  
                <th>                                    
                    @Html.DisplayNameFor(model => model.jobs[0].Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.jobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguagesUsed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                </tr>
            }
        </tbody>
    </table>
